<h1>All movies</h1>

<form>
    <input type="hidden" name="sort_by" value="<%= @sort_by %>">
<% @ratings.each do | rating | %>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cb_<%= rating %>" <%= @selected_ratings[rating] ? "checked" : "" %> name="selected_ratings[<%= rating %>]" >
        <label class="form-check-label" for="cb_<%= rating %>"><%= rating %></label>
    </div>
<% end %>
    <button type="submit" class="btn btn-outline-primary btn-sm">Apply</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th class=<%= (@sort_by == "title") ? "table-info" : "" %> >
        <form>
            <input type="hidden" name="sort_by" value="title">
            <% @selected_ratings.each_key do | rating | %>
                <input type="hidden" name="selected_ratings[<%= rating %>]" value="on">
            <% end %>
            <button class="btn btn-link">Movie Title</button>
        </form>
      </th>
      <th>Rating</th>
      <th class=<%= (@sort_by == "release_date") ? "table-info" : "" %> >
        <form>
            <input type="hidden" name="sort_by" value="release_date">
            <% @selected_ratings.each_key do | rating | %>
                <input type="hidden" name="selected_ratings[<%= rating %>]" value="on">
            <% end %>
            <button class="btn btn-link">Release Date</button>
        </form>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
<% @movies.each do | movie | %>
    <tr id= movie.titulos>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
      <td><%= link_to "More about #{movie.title}", to: movies_path(movie) %></td>
    </tr>
<% end %>
  </tbody>
</table>