<h1>All movies</h1>

<form>
    <input type="hidden" name="sort_by" value="<%= @sort_by%>">
<%= for rating <- @ratings do %>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cb_<%= rating %>" <%= if @selected_ratings[rating], do: "checked", else: "" %> name="selected_ratings[<%= rating %>]" >
        <label class="form-check-label" for="cb_<%= rating %>"><%= rating %></label>
    </div>
<% end %>
    <button type="submit" class="btn btn-outline-primary btn-sm">Apply</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th class=<%= if (@sort_by == "title"), do: "table-info", else: "" %> >
        <form>
            <input type="hidden" name="sort_by" value="title">
            <%= for {rating, _} <- @selected_ratings do %>
                <input type="hidden" name="selected_ratings[<%= rating %>]" value="on">
            <% end %>
            <button class="btn btn-link">Movie Title</button>
        </form>
      </th>
      <th>Rating</th>
      <th class=<%= if (@sort_by == "release_date"), do: "table-info", else: "" %> >
        <form>
            <input type="hidden" name="sort_by" value="release_date">
            <%= for {rating, _} <- @selected_ratings do %>
                <input type="hidden" name="selected_ratings[<%= rating %>]" value="on">
            <% end %>
            <button class="btn btn-link">Release Date</button>
        </form>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
<%= for movie <- @movies do %>
     <tr id= movie.titulos>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
      <td><%= link "More about #{movie.title}", to: Routes.movie_path(@conn, :show, movie) %></td>
    </tr>
<% end %>
  </tbody>
</table>