<h2>All movies</h2>
<form>
    <input type="hidden" name="sort_by" value="<%= sort_by%>">
<% ratings.forEach(function(rating) {%>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cb_<%= rating %>" <%= selected_ratings[rating] ? "checked" : "" %> name="selected_ratings[<%= rating %>]" >
        <label class="form-check-label" for="cb_<%= rating %>"><%= rating %></label>
    </div>
<% });%>
    <button type="submit" class="btn btn-outline-primary btn-sm">Apply</button>
</form>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class=<%= (sort_by === "title") ? "table-info" : "" %> >
        <form>
            <input type="hidden" name="sort_by" value="title">
            <% Object.keys(selected_ratings).forEach(function(rating) {%>
                <input type="hidden" name="selected_ratings[<%= rating %>]" value="on">
            <% });%>
            <button class="btn btn-link">Movie Title</button>
        </form>
        </th>
        <th scope="col">Rating</th>
        <th scope="col" class=<%= (sort_by === "release_date") ? "table-info" : "" %> >
        <form>
            <input type="hidden" name="sort_by" value="release_date">
            <% Object.keys(selected_ratings).forEach(function(rating) {%>
                <input type="hidden" name="selected_ratings[<%= rating %>]" value="on">
            <% });%>
            <button class="btn btn-link">Release Date</button>
        </form>
        </th>
        <th scope="col">More Info</th>
      </tr>
    </thead>
    <tbody>
<% movies.forEach(function(movie) {%>
      <tr id="<%= movie.titulos %>">
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><a href="/movies/<%= movie.id %>">More about '<%= movie.title %>'</a></td>
      </tr>
<%});%>
    </tbody>
</table>